.nav {
    position: absolute;
    left: 57.55rem;
    top: 2.4rem;

    &__list {
        display: flex;
        flex-direction: row;
    }

    &__item {
        margin-left: 3.8rem;
        list-style: none;
    }

    &__link {

        &:link,
        &:visited {
            text-decoration: none;
            @include linkFont;
            color: $sec-font-color;
            transition: ease-in-out 1s;
        }

        &:hover,
        &:active {
            @include textShadow;
        }
    }
}